/*
 Student Name: Valentin Belii
 File Name: contact.css
 Date: 12/04/2023
*/

/* Form Elements Style Rule */
#form {
    margin-top: 2%;
    background-color: #f2f2f2;
    padding: 2%;
}

#form h2 {
    text-align: center;
}


/* Form Fields Style Rule */

fieldset, input, select, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}

label {
    display: block;
    padding-top: 3%;
}

form #submit,#reset {
    margin: 0 auto;
    border: none;
    display: block;
    padding: 2%;
    background-color: #b3b3b3;
    font-size: 1em;
    border-radius: 10px;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    /* Tablet Viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1032px), print {

    /* Desktop Viewport: Style rules for form elements */
    form {
        width: auto;
    }

    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 3;
    }

}